<div class="box">
	<form action="/users" method="POST">
		<input type="text" name="user[name]" placeholder="Name">
		<input type="text" name="user[email]" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="submit">
	</form>
</div>
